---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/header/Header.astro';
import Footer from '../../components/footer/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul
          class='grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-8'
        >
          {
            posts.map((post) => (
              <li class='first:sm:col-span-2 first:sm:w-full first:sm:text-center first:md:col-span-3'>
                <a href={`/blog/${post.slug}/`}>
                  <img
                    class='transition-all duration-300 ease-in-out hover:-mt-3 hover:mb-3'
                    src={post.data.heroImage}
                    alt={post.data.title}
                    transition:name={`post-${post.slug}`}
                    transition:animate='initial'
                  />
                  <h4 class='first:text-xl'>{post.data.title}</h4>
                  <p class='date'>
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
