---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  text: string;
  svg: string;
  viewBox: string;
}

const { href, text, svg, viewBox, class: className } = Astro.props;
---

<a
  href={href}
  target='_blank'
  class:list={[className]}
  class='hover:brightness-85'
  aria-label={text}
>
  <span class='screen-reader-only'>{text}</span>
  <svg
    width='32'
    height='32'
    viewBox={viewBox}
    fill='currentColor'
    class='text-blue-chill-900 hover:text-blue-chill-950 dark:text-blue-chill-200'
  >
    <path fill='currentColor' d={svg}></path>
  </svg>
</a>
