---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/global/BaseHead.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import FormattedDate from '../components/utils/date/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'] & {
  slug?: string;
};

const { slug, title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <!-- Hero image -->
        <div class='w-full'>
          {
            heroImage && (
              <img
                class='mx-auto my-0 block border-4'
                transition:name={`post-${slug}`}
                transition:animate='initial'
                src={heroImage}
                alt=''
              />
            )
          }
        </div>

        <!-- Tags list -->
        {
          tags && tags.length > 0 && (
            <div class='flex flex-wrap justify-start'>
              {tags.map((tag) => (
                <div class='m-1 rounded p-1'>
                  <span class='text-base italic underline'>#{tag}</span>
                </div>
              ))}
            </div>
          )
        }

        <!-- Publication date -->
        <div class='m-auto p-2'>
          <div class='mb-2 p-2 text-center leading-none'>
            <div class='mb-2'>
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class='italic'>
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class='mb-2'>{title}</h1>
            <hr />
          </div>

          <!-- Content -->
          <div class='markdown-content'>
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
